@import 'bourbon/bourbon';
@import 'neat/neat';

/*======================================
            Variables
======================================*/
$box: border-box;

$max-width: em(1200);

$desktop-container-height: em(400);
$desktop-block-height: em(350);

$block-height: 285px;

$input-height: 30px;
$text-area-height: 60px;


$label-display: none;

$label-font-size: 1em;
$input-font-size: 1em;
$h1-font-size: 3em;

$font-size: em(14px);

$tablet: new-breakpoint(min-width 401px max-width 800px 8);
$mobile: new-breakpoint(max-width 400px);





/*======================================
              Base Styles
======================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  background: url('../images/white_board_background.jpg') no-repeat;
  background-size: cover;
  font-family: $verdana;
  font-size: $font-size;
}


.input,
.label,
.select,
.textarea {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  width: 100%;
}

label {
  display: $label-display;
}

input,
select,
label {
  border-radius: 5px;
  font-size: 1.2em;

}


.container {
  @include outer-container;
  @include padding(20px 20px 20px 20px);
/*   height: \$desktop-container-height; */
  border-radius: 20px;
  background-color: rgba(108, 0, 255, .5);



}

.header h1 {
  margin: 20px auto 10px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgba(108, 0, 255, .5);
  padding: 10px;
  width: 300px;
  text-align: center;
  font-size: \$h1-font-size;
  color: RGBA(80, 0, 214, 1);

}



.top {
  @include span-columns(4);
/*   height: \$desktop-block-height; */

  @include media($tablet) {
    @include span-columns(4);
  }

  @include media($mobile) {
    @include span-columns(12);
  }
}

.middle {
  @include span-columns(4);
/*   height: \$desktop-block-height; */

  @include media($tablet) {
    @include span-columns(4);
    @include omega();
  }

  @include media($mobile) {
    @include span-columns(12);
  }
}

.bottom {
  @include span-columns(4);
/*   height: \$desktop-block-height; */

  @include media($tablet) {
    @include span-columns(12);
  }

  @include media($mobile) {
    @include span-columns(12);
  }
}














/*======================================
            Colors and Fonts
======================================*/




/*======================================
            Components
======================================*/



/*======================================
          Media Queries
======================================*/
/* \$tablet: new-breakpoint(min-width 401px max-width 800px 8);
\$mobile: new-breakpoint(max-width 400px); */

/*====== Experimental Neat Code =============*/
/* ===========================================
.one,
.two,
.three {
  border: 1px solid blue;
}

.test-container {
  @include outer-container;
  height: 800px;

  @include media(\$tablet) {
  }

  @include media(\$mobile) {
  }
}

.one {

  @include span-columns(4);
  height: 500px;

  @include media(\$tablet) {
    @include span-columns(4);
  }

  @include media(\$mobile) {
    @include span-columns(12);

    height: 250px;
  }


}

.two {
  @include span-columns(4);
  height: 500px;

  @include media(\$tablet) {
    @include span-columns(4);
    @include omega();
  }

  @include media(\$mobile) {
    @include span-columns(12);
  }
}

.three {
  @include span-columns(4);
  height: 300px;

  @include media(\$tablet) {
    @include span-columns(12);
  }

  @include media(\$mobile) {
    @include span-columns(4);
  }

} */
