html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*======================================
            Variables
======================================*/
/*======================================
              Base Styles
======================================*/
*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 0.875em; }

input,
label,
select,
textarea {
  display: block;
  width: 100%; }

label {
  display: \$label-display;
  font-size: \$label-font-size; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  border: 1px solid blue;
  height: 18.75em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.header h1 {
  margin: 0 auto;
  text-align: center;
  font-size: \$h1-font-size; }

.top {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 285px; }
  .top:last-child {
    margin-right: 0; }
  @media screen and (min-width: 401px) and (max-width: 800px) {
    .top {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .top:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    .top {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .top:last-child {
        margin-right: 0; } }

.middle {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 17.8125em; }
  .middle:last-child {
    margin-right: 0; }
  @media screen and (min-width: 401px) and (max-width: 800px) {
    .middle {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      margin-right: 0; }
      .middle:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    .middle {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .middle:last-child {
        margin-right: 0; } }

.bottom {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 17.8125em; }
  .bottom:last-child {
    margin-right: 0; }
  @media screen and (min-width: 401px) and (max-width: 800px) {
    .bottom {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 151.78933%; }
      .bottom:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    .bottom {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .bottom:last-child {
        margin-right: 0; } }

/*======================================
            Colors and Fonts
======================================*/
/*======================================
            Components
======================================*/
/*======================================
          Media Queries
======================================*/
/* \$tablet: new-breakpoint(min-width 401px max-width 800px 8);
\$mobile: new-breakpoint(max-width 400px); */
/*====== Experimental Neat Code =============*/
/* ===========================================
.one,
.two,
.three {
  border: 1px solid blue;
}

.test-container {
  @include outer-container;
  height: 800px;

  @include media(\$tablet) {
  }

  @include media(\$mobile) {
  }
}

.one {

  @include span-columns(4);
  height: 500px;

  @include media(\$tablet) {
    @include span-columns(4);
  }

  @include media(\$mobile) {
    @include span-columns(12);

    height: 250px;
  }


}

.two {
  @include span-columns(4);
  height: 500px;

  @include media(\$tablet) {
    @include span-columns(4);
    @include omega();
  }

  @include media(\$mobile) {
    @include span-columns(12);
  }
}

.three {
  @include span-columns(4);
  height: 300px;

  @include media(\$tablet) {
    @include span-columns(12);
  }

  @include media(\$mobile) {
    @include span-columns(4);
  }

} */

/*# sourceMappingURL=main.css.map */
